In [112]:
import numpy as np
import pandas as pd

In [113]:
new_user_interests = pd.Series([1, 0, 0, 0, 0, 1, 1, 0, 0, 0])
new_user_interests

0    1
1    0
2    0
3    0
4    0
5    1
6    1
7    0
8    0
9    0
dtype: int64

In [114]:
new_user_estate = 4
new_user_block = 3
new_user_floor = 16

In [115]:
properties = ['Chelsea Court', 'East Point City', 'The Leighton Hill', 'Les Saisons', 'Manhattan Hill', 'Harbour Place', 'Royal Ascot', 'The Latitude', 'Villa Esplanada', 'Yoho Town']

new_user_estate_string = properties[new_user_estate]
new_user_estate_string

'Manhattan Hill'

In [116]:
df_interest = pd.read_csv('resident_interest.csv')
df_address = pd.read_csv('resident_address.csv')

In [117]:
df_interest.head()

,resident_ID,pets,sports,travel,celebrities,finance,infant_care,food,music,technology,games
0,495971,1,0,0,0,0,0,0,1,0,0
1,898725,0,0,0,0,0,0,0,0,0,0
2,435705,1,1,0,0,0,0,0,0,0,0
3,262145,0,1,0,0,0,0,0,0,1,0
4,501132,0,0,0,0,0,0,0,0,0,0

In [118]:
df_address.head()

   resident_ID           estate  block  floor flat
0       495971  East Point City      4     15    C
1       898725  East Point City      2     19    E
2       435705      Les Saisons      4      4    C
3       262145    Harbour Place      9     35    B
4       501132      Les Saisons      5     14    C

In [119]:
match_index = (df_interest.iloc[:, 1:] * np.array(new_user_interests)).sum(axis=1)
match_index.apply(lambda x: -1 if x==0 else x)
match_index

0     1
1     0
2     1
3     0
4     0
5     2
6     0
7     0
8     1
9     1
10    1
11    0
12    1
13    0
14    1
15    0
16    1
17    0
18    1
19    0
20    0
21    1
22    0
23    1
24    0
25    0
26    1
27    2
28    1
29    0
     ..
70    0
71    0
72    1
73    0
74    1
75    0
76    1
77    0
78    1
79    1
80    0
81    1
82    0
83    0
84    0
85    1
86    1
87    2
88    1
89    0
90    0
91    0
92    0
93    0
94    1
95    1
96    1
97    0
98    2
99    1
Length: 100, dtype: int64

In [120]:
for i in range(len(match_index)):
    if new_user_estate_string == df_address.loc[i, 'estate']:
        match_index.iloc[i] +=10
        if new_user_block == df_address.loc[i, 'block']:
            match_index.iloc[i] += 2
            if new_user_floor == df_address.loc[i, 'floor']:
                match_index.iloc[i] += 1

In [121]:
match_index

0      1
1      0
2      1
3      0
4      0
5      2
6      0
7      0
8      1
9      1
10     1
11     0
12     1
13     0
14     1
15     0
16     1
17     0
18     1
19     0
20     0
21     1
22     0
23     1
24    10
25     0
26     1
27     2
28     1
29     0
      ..
70    12
71     0
72    13
73     0
74     1
75     0
76     1
77     0
78    11
79     1
80     0
81     1
82     0
83     0
84     0
85     1
86     1
87     2
88     1
89     0
90     0
91     0
92     0
93     0
94     1
95     1
96     1
97     0
98     2
99     1
Length: 100, dtype: int64

In [122]:
match_index.max()

13

In [123]:
match_index.value_counts()

0     45
1     40
2      6
11     3
10     3
13     2
12     1
dtype: int64

In [131]:
df_interest.loc[match_index.sort_values(ascending=False)[:5].index, 'resident_ID']

72    463919
43    968795
70    450346
56    894335
64    154262
Name: resident_ID, dtype: int64